<launch>
  <arg name="scenario_name" default="lpnav_corridor_seed_7" />
  <arg name="world_name" default="$(find uav_simulator)/worlds/lpnav_corridor/$(arg scenario_name).world" />
  <arg name="scenario_file" default="$(find uav_simulator)/worlds/lpnav_corridor/$(arg scenario_name).yaml" />
  <arg name="map_file" default="$(find uav_simulator)/worlds/lpnav_corridor/$(arg scenario_name).pcd" />
  <arg name="use_prebuilt_map" default="false" />
  <arg name="visualize_global_map" default="true" />
  <arg name="use_safety_shield" default="true" />
  <arg name="always_use_policy" default="false" />
  <arg name="rviz" default="true" />
  <arg name="gazebo_gui" default="true" />
  <arg name="run_evaluator" default="false" />
  <arg name="num_trials" default="100" />
  <arg name="random_seed" default="1007" />
  <arg name="csv_path" default="/tmp/lpnav_corridor_eval.csv" />
  <arg name="keep_trajectory_publisher_alive" default="true" />

  <include file="$(find uav_simulator)/launch/lpnav_corridor.launch">
    <arg name="scenario_name" value="$(arg scenario_name)" />
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
  </include>

  <include file="$(find navigation_runner)/launch/safety_and_perception_sim.launch">
    <arg name="use_px4" value="false" />
    <arg name="use_prebuilt_map" value="$(arg use_prebuilt_map)" />
    <arg name="prebuilt_map_file" value="$(arg map_file)" />
    <arg name="visualize_global_map" value="$(arg visualize_global_map)" />
    <arg name="use_real_detector" value="false" />
    <arg name="use_safety_shield" value="$(arg use_safety_shield)" />
    <arg name="always_use_policy" value="$(arg always_use_policy)" />
    <arg name="rviz" value="$(arg rviz)" />
  </include>

  <group if="$(arg run_evaluator)">
    <node pkg="navigation_runner" type="deployment_eval2.py" name="deployment_eval2" output="screen">
      <param name="scenario_file" value="$(arg scenario_file)" />
      <param name="num_trials" value="$(arg num_trials)" />
      <param name="random_seed" value="$(arg random_seed)" />
      <param name="csv_path" value="$(arg csv_path)" />
      <param name="dependency_timeout" value="120.0" />
      <param name="keep_trajectory_publisher_alive" value="$(arg keep_trajectory_publisher_alive)" />
    </node>
  </group>
</launch>
